.nav {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 99vw;
  height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: inherit;
  margin-bottom: 5px;
  margin-top: 5px;
}

.nav-bar button {
  height: inherit;
}

.profile-dropdown {
  height: inherit;
  margin-left: auto;
  align-items: flex-end;
  z-index: 1;
}

.bottom-nav-bar {
  position: fixed;
  bottom: 0;
}

.bottom-nav-bar button {
  margin-left: auto;
}
