@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-ExtraBold.ttf');
  font-weight: 800;
}
